@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

header {
    .inner {
        button {
            all: unset;
            padding: 13px 50px;
            background-color: #81b9cb65;
            border-radius: 10px;
            color: white;
        }

        .navigation {
            nav {
                ul {
                    li {
                        a {
                            color: #A1B5BB;
                        }

                        a:hover {
                            border-bottom: 1px solid white;
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }
}

header {
    position: relative;
    position: fixed;
    width: 100%;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    background-color: #145e76;
    padding: 20px;
    z-index: 2222;
}

header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo2 {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: gray;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;

    .food {
        color: #FCC647;
    }

    .color {
        font-weight: 400;
        font-size: 15px;
        color: black;
    }
}

.logo2 span {
    color: #ef476f;
}

.navigation {
    position: relative;
}

.navigation ul {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul li {
    margin-left: 60px;
}

.navigation a {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 1;
    transition: 0.5s;
}

.navigation a::before {
    content: "" attr(data-menu) "";
    position: absolute;
    z-index: 1;
    color: #ef476f;
    width: 0px;
    transition: 0.5s;
    overflow: hidden;
}

.navigation a:hover::before {
    width: 100%;
}

input#toggle-icon,
.toggle-icon {
    display: none;
}

section {
    margin-top: 12px;
    background-color: #145e76;
    padding-bottom: 100px;

    .head {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;

        .hey {
            font-family: 'Schoolbell';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
            margin-bottom: 40px;
            color: white;
        }

        h1 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 80px;
            color: #FFFFFF;
            margin-bottom: 30px;
        }

        .a {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
            color: #849499;
            margin-bottom: 50px;
        }

        .btn {
            display: flex;
            align-items: center;
            color: #B6CDD4;

            button {
                all: unset;
                background-color: #FFA63A;
                color: white;
                padding: 15px 55px;
                border-radius: 20px;
                margin-right: 20px;
            }
        }
    }

    .oq {
        // position: absolute;
        box-shadow: 0px 0px 10px 10px rgb(176, 172, 172);
        background-color: rgb(255, 255, 255);
        padding: 40px;
        text-align: center;
        width: 50%;
        margin: auto;
        border-radius: 10px;
        margin-bottom: -200px;
        // margin-top: 0px;
        // justify-content: center;
        // margin-left: 200px;

        .st {
            margin-bottom: 50px;
        }

        .tort {
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                margin: 0px 20px;
            }
        }
    }
}

.section2 {
    text-align: center;
    margin-top: 20px;
    width: 90%;
    margin: auto;

    .ser {
        color: #265A6A;
        font-family: 'Schoolbell';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 22px;
        margin-top: 30px;
    }

    h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 60px;
        color: #08546C;
    }

    .tort {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;

        .torrt {
            padding: 30px;
            box-shadow: 0px 0px 10px 10px rgb(211, 209, 209);
            border-radius: 5px;
            margin: 20px;
        }

        h2 {
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .torrt:hover {
            background-color: #08546C;
            color: #B2BBBD;
            border-radius: 10px;

            img {
                background-color: #FFA63A;
                border-radius: 50%;
            }

            h2 {
                color: white;
            }
        }
    }
}

.section3 {
    width: 90%;
    margin: auto;

    .fea {
        text-align: center;
        margin-top: 50px;
        color: #08546C;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 56px;
        margin-bottom: 10px;
    }

    .ex {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 60px;
    }

    .sec3 {
        .se3 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            .s3 {
                margin: 0px 20px;

                h2 {
                    color: #08546C;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                .pas {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;

                    p {
                        margin-right: 10px;
                    }
                    a {
                        color: #000;
                    }

                    p:hover {
                        color: #FFA63A;
                        transition: .3s;

                        a {
                            color: #FFA63A;
                        }
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.section4 {
    background-color: #145e76;
    padding: 50px 0px;

    .sec4 {
        img {
            margin-bottom: 30px;
        }

        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;

        .on {
            margin-bottom: 30px;
        }

        p {
            color: white;
        }

        .pii {
            color: #AABFC6;
        }
    }
}

html {
    scroll-behavior: smooth;
}

footer {
    .footer {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 50px 0px;

        h2 {
            margin-bottom: 28px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #08546C;
        }

        .ppi {
            p {
                margin-bottom: 10px;
                color: #757575;
                font-size: 18px;
            }

            h3 {
                background-color: #08546C;
                color: white;
                width: 50px;
                text-align: center;
                padding: 5px;
                border-radius: 50%;
                justify-content: end;
                transition: .5s;
                scroll-behavior: smooth;
            }
        }

        .bir {
            p {
                margin-top: 20px;
                margin-bottom: 40px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #757575;
            }

            .icon {
                display: flex;
                align-items: baseline;

                div {
                    margin: 0px 5px;
                }
            }
        }
    }
}



















@media (max-width: 1200px) {
    section {
        .head {
            div {
                h1 {
                    font-size: 50px;
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    section {
        .head {
            div {
                h1 {
                    font-size: 40px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .section2 {
        .tort {
            flex-direction: column;
        }
    }
}

@media (max-width: 997px) {
    section {
        .head {
            div {
                h1 {
                    font-size: 30px;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .section4 {
        .sec4 {
            flex-direction: column;
        }
    }
}

@media (max-width: 970px) {
    header {
        padding: 20px 50px;
        padding-bottom: 40px;

        .inner {
            .con {
                display: none;
            }
        }
    }

    .logo {
        font-size: 38px;
    }

    .navigation {
        position: absolute;
        top: 33px;
        left: 0;
        width: 100%;
    }

    .navigation ul li {
        margin-left: 0px;
        width: 100%;
        background: #ef476f;
        animation: liAnim 0.5s 0ms ease-in forwards;
        transform-origin: left;
        opacity: 0;
        transform: scaleY(0);
    }

    .navigation ul li:nth-child(1) {
        animation-delay: 100ms;
    }

    .navigation ul li:nth-child(2) {
        animation-delay: 300ms;
    }

    .navigation ul li:nth-child(3) {
        animation-delay: 500ms;
    }

    .navigation ul li:nth-child(4) {
        animation-delay: 700ms;
    }

    .navigation ul li:nth-child(5) {
        animation-delay: 900ms;
    }

    .navigation ul li:nth-child(6) {
        animation-delay: 1100ms;
    }

    @keyframes liAnim {
        0% {
            opacity: 0;
            transform: scaleY(0);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    .navigation a {
        line-height: 1;
        display: block;
        color: white;
        padding: 15px 10px;
    }

    .navigation a::before {
        color: rgb(0, 0, 0);
    }

    .navigation nav {
        display: none;
    }

    .toggle-icon {
        display: block;
    }

    .toggle-icon {
        position: fixed;
        top: 6px;
        right: 50px;
        width: 55px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    /* hamburger css start */
    .hamburger {
        position: relative;
        width: 60%;
        height: 60%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }

    .burger-1::before,
    .burger-1::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 8px;
        transition: 0.3s;
    }

    .burger-1::before {
        transform: translateY(-10px);
    }

    #toggle-icon:checked+.toggle-icon .burger-1::before {
        transform: translateY(0) rotate(-315deg);
    }

    .burger-1::after {
        transform: translateY(10px);
        box-shadow: 0 -10px 0 black;
    }

    #toggle-icon:checked+.toggle-icon .burger-1::after {
        transform: translateY(0) rotate(-45deg);
        box-shadow: unset;
    }

    #toggle-icon:checked~nav {
        display: block;
    }

}

@media (max-width: 900px) {
    section {
        .oq {
            .tort {
                flex-direction: column;

                div {
                    border-bottom: 1px solid #000;
                    width: 100%;
                    justify-content: start;
                    text-align: start;
                    padding: 10px;
                }
            }

            .st {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 880px) {
    section {
        .head {
            flex-direction: column-reverse;
        }
    }
}

@media (max-width: 800px) {
    .section3 {
        .sec3 {
            .se3 {
                flex-direction: column;

                .s3 {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media (max-width: 777px) {
    footer {
        .footer {
            flex-direction: column;
            text-align: center;

            .icon {
                justify-content: center;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 670px) {
    .section4 {
        .sec4 {
            .man2 {
                img {
                    width: 100%;
                }
            }
        }
    }
}